/* This file is for your main application css. */
header {
  color: var(--color-white);
  background: var(--color-primary);
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav a,
header nav a:hover {
  color: var(--color-white);
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  height: 40px;
  margin-top: 2px;
}
header .logo h2 {
  color: var(--color-white);
  margin-bottom: 0;
}
header nav > ul {
  list-style-type: none;
  margin: 0.5em 0;
  float: right;
}
header nav > ul > li {
  display: inline-block;
}
header nav > ul > li:after {
  content: "|";
  margin-left: 4px;
}
header nav > ul > li:last-child:after {
  content: "";
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}
