/* This file is for your main application css. */
:root {
  --color-primary: coral;
  --size-sm: 48rem;
}
header {
  color: var(--color-white);
  background: var(--color-primary);
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav a,
header nav a:hover {
  color: var(--color-white);
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  height: 40px;
  margin-top: 2px;
}
header .logo h2 {
  color: var(--color-white);
  margin-bottom: 0;
}
header nav > ul {
  list-style-type: none;
  margin: 0.5em 0;
  float: right;
}
header nav > ul > li {
  display: inline-block;
}
header nav > ul > li:after {
  content: "|";
  margin-left: 4px;
}
header nav > ul > li:last-child:after {
  content: "";
}

.wrapper {
  display: grid;
  grid-template-columns: 12rem calc(100% - 12rem);
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem;
}
.wrapper.logged-out {
  display: block;
}
.wrapper nav {
  text-align: right;
  padding-right: 1rem;
  border-right: 1px solid var(--color-silver);
}
.wrapper nav a {
  display: block;
  margin: .15rem;
}
.wrapper main {
  padding-left: 2rem;
}
@media(max-width: var(--size-sm)) {
  .wrapper {
    display: block;
    padding-top: 0;
  }
  .wrapper nav {
    padding: 1em 0 0 0;
    text-align: center;
    border: none;
  }
  .wrapper nav a {
    display: inline-block;
  }
  .wrapper main {
    padding: 2rem 0;
    margin: 0 auto;
  }
}
