<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">

    <title>chardee</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="logo" >
          <a href="/" ><img src="<%= static_path(@conn, "/images/chart-logo.svg") %>" alt=""></a>
          <a href="/" ><h2>chardee</h2></a>
        </div>
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <%= if logged_in?(@conn) do %>
              <li><%= link("Logout", to: session_path(@conn, :delete), method: :delete) %></li>
            <% else %>
              <li><%= link("Get Started", to: registration_path(@conn, :new)) %></li>
              <li><%= link("Login", to: session_path(@conn, :new)) %></li>
            <% end %>
          </ul>
        </nav>
      </header>


      <%= if logged_in?(@conn) do %>
      <div class="wrapper" >
        <nav>
          <%= link "Apps", to: app_path(@conn, :index) %>
          <%= link "Users", to: user_path(@conn, :index) %>
        </nav>
        <main role="main">
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
      <% else %>
      <div class="wrapper logged-out" >
        <main role="main">
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
      <% end %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
